*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 1000px;
    height: 600px;
    border: solid 1px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    background-color: aqua;
}
h1{
    font-size: 3rem;
    width: 500px;
    text-align: center;
    margin-top: 20px;
}
.container-2{
    width: 700px;
    height: 700px;
    grid-column: 1/2;
    
}

.temperatura{
    font-size: 25px;
    width: 165px;
    text-align: center;
    margin-left: 170px;
    margin-top: 30px;
}
.container-Tf{
    width: 90px;
    height: 60px;
    border: solid gray 1px;
    margin-left: 210px;
    font-size: 35px;
    text-align: center;
    border-radius: 10px;
}
:hover.container-Tf{
    cursor: text;
}

.container-Tg{
    width: 150px;
    height: 100px;
    border: solid 1px;
    margin-top: 100px;
    margin-left: 180px;
    font-size: 50px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
:hover.container-Tg{
    cursor: text;
}
.flex{
    display: flex;
}
.button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: blue;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 150px;
    margin-left: 80px;
}
.button-2{
    width: 150px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 150px;
    margin-left: 10px;
    
}
:hover.button{
    cursor: pointer;
}
:hover.button-2{
    cursor: pointer;

}
.termometro{
    width: 300px;
    height: 700;
  display: block;
  margin: 0;
  margin-left: 20px;
  margin-top: 100px;
  text-align: center;
}
.termometroreal{
    width: 50px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    transform: rotate(180deg);
}
.color{
    width: 50px;
    margin: auto;
    border-radius: 25px;
    transform: rotate(180deg);
}
.creditos{
    color: white;
    text-align: center;
    margin-top: 25px;
}